<?php
$this->layout=false;
// debug($_SESSION['sisa']);
?>
     <div class="w-section-header">    	<h2>Daftar Sisa Bahanbaku</h2>
		</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nama Produk</th>
            <th>Dimensi</th>
            <th>Luas</th>
            <th width="5%">Hapus</th>
        </tr>
    </thead><tbody>

        <?php $x = 0; 
        if (!empty($_SESSION["sisa"])) {
           $ses=1; foreach ($_SESSION["sisa"] as $k => $item) {
           	      ?>
                <tr>
                    <td><?php echo $item['nama'] ?></td>
                    <td><?php echo $item['dm1']. "x" .$item['dm2'] ?></td>
                    <td><?php echo $item['dm1']*$item['dm2']." mm2" ?></td>
                    <td><input name="data[Bahanbakus][idsisa][]" class="form-control" value="<?php echo $k; ?>" type="hidden" >
                    <button type='button' class='btn btn-xs btn-danger' id="<?php  echo $k?>" onClick='delsisa(this)'><i class='fa fa-trash-o'></i></button></td>
                </tr>
  
        <?php $x++;
					$ses++;
					} }
				?>
    </table>
<script type="text/javascript">
        function delsisa(clicked) {
        var idsisa = $('input[name="data[Bahanbakus][idsisa][]"]').serialize();
            var id = clicked.id;
            $.ajax({
                type: "POST",
                url: "<?php echo $this -> webroot; ?>bahanbakuses/delsisa/",
            	data: {id:id},
            	success: function (html) {
                $("#isisisa").html(html);
            }
        });
    }

</script>