<script>
	window.open('<?php echo $this->webroot;?>penjualans/printorder/<?php echo $idpenjualan;?>', '_blank');
    setTimeout(function(){location.href="<?php echo $this->webroot;?>penjualans/add"} , 2000);
</script>
<div class="error-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-code">
                            <!-- <div>4<span>0</span>4</div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="error-message">
                            <h4>Bahanbaku berhasil disimpan</h4>
                            <p>
                                We are sorry the page you are trying to reach dose not exist :(
                            </p>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6">
                        <div class="error-body">
                            <div class="error-instruction">
                                <span class="left-border"></span>
                                <a class="go-home" href="index.html">
                                    <i class=" icon-home"></i>
                                </a>
                                <span class="indicator"></span>
                                <ol>
                                    <li>Checking the web address for typos.</li>
                                    <li>Visiting the home page (link to the Right).</li>
                                    <li>Visiting our full website <a href="#">sitemap here.</a>
                                    </li>
                                    <li>Using our site search above.</li>
                                </ol>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>